gpg_key.asc
.password-store/
.config/gnupg/

# Fish shell plugin files and runtime state
.config/fish/fish_variables*
.config/fish/completions/
.config/fish/conf.d/
.config/fish/functions/_tide_*
.config/fish/functions/_fzf_*
.config/fish/functions/tide/
.config/fish/functions/fish_prompt.fish
.config/fish/functions/fish_mode_prompt.fish
.config/fish/functions/fzf_configure_bindings.fish
.config/fish/functions/tide.fish

# GTK runtime files
.config/gtk-3.0/gtk.css
.config/gtk-3.0/bookmarks
.config/gtk-4.0/gtk.css

# btop runtime state
.config/btop/.btop.log

# Screenshots
Pictures/Screenshots/

# Game save files that change on every play session
*.sav

# Moved runtime/state data
.config/pulse/
.config/git-crypt/
.local/share/cargo/
.local/share/rustup/
.local/share/pki/
.local/share/vim/
.local/state/
.cache/nv/

# Node.js artifacts (global)
node_modules/
package-lock.json
